@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #a89e96;
}

/* HEADER */

nav {
    background-color: #a89e96;
    padding: 25px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 10px;
    margin: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    color: #191919;
    text-decoration: none;
}

.navbar-brand {
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    padding-left: 20px;
}

/* INICIO */

main {
    padding: 10px 30px;
}

h1 {
    color: #191919;
    background-color: #8a8179;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid rgb(100, 86, 86);
}

.carousel {
    margin: 10px;
}

.container {
    display: flex;
    background-color: #77726c;
}

.container div p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: justify;
}

.container p {
    padding: 20px;
}

h2 {
    color: #191919;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: center;
    padding: 30px 20px 10px 20px;
}

.lista-spotify {
    padding: 30px;
}

/* GALERÍA */

.grilla2 {
    display: grid;
    gap: 15px;
    background-color: #a89e96;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(4, 500px);
    grid-template-areas:
    'area1 area1 area5'
    'area8 area4 area2'
    'area6 area6 area2'
    'area7 area9 area3'
}

.caja {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 7px 0px #515151;
}

.caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.c1 {
    grid-area: area1;
}

.c2 {
    grid-area: area2;
}

.c3 {
    grid-area: area3;
}

.c4 {
    grid-area: area4;
}

.c5 {
    grid-area: area5;
}

.c6 {
    grid-area: area6;
}

.c7 {
    grid-area: area7;
}

.c8 {
    grid-area: area8;
}

.c9 {
    grid-area: area9;
}

/* DISCOGRAFÍA */

.cards {
    text-align: center;
    background-color: #a89e96;
    padding: 15px;
}

.card-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #191919;
}

.card-body {
    display: inline-block;
    width: 30%;
    text-align: justify;
    margin: 15px;
    background-color: rgb(127, 124, 122);
    position: relative;
}

.card-body h2 {
    padding: 10px;
}

.card-body p {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

/* PELÍCULA */

.intro {
    display: flex;
    background-color: #77726c;
    margin: 20px;
}

.intro div p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: justify;
}

.intro p {
    padding: 20px;
}

.intro img {
    width: 50%;
    height: 50%;
}

/* CONTACTO */

.form {
    margin: 30px;
    color: rgb(100, 86, 86);
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-align: center;
}

.form div {
    padding: 10px;
}

.form-img {
    margin: 0 30px;
}

/* FOOTER */

footer {
    background-color: #a89e96;
    padding: 10px;
    margin: 30px 0;
    text-align: center;
}

footer ul {
    list-style-type: none; 
}

footer ul li {
    display: inline-flex;
}

footer ul li a {
    color: #191919;
    padding: 10px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
}

.img-logo {
    width: 40px;
    height: 40px;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {

    h1 {
        font-size: 20px;
        padding: 8px;
        margin-bottom: 10x;
    }

    .container {
        flex-direction: column;
    }
    
    .container div p {
        font-size: 10px;
    }
    
    .container p {
        padding: 10px;
    }

    .intro {
        flex-direction: column;
        margin: 10px;
    }
    
    .intro div p {
        font-size: 10px;
    }
    
    .intro p {
        padding: 15px;
    }
    
    .intro img {
        width: 100%;
        height: 100%;
    }

    .lista-spotify {
        padding: 20px;
    }

    .grilla2 {
        gap: 5px;
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: repeat(9, 400px);
        grid-template-areas:
        'area5'
        'area2'
        'area3'
        'area4'
        'area1'
        'area6'
        'area7'
        'area8'
        'area9'

    }
     
    .card-body img {
        width: 100%;
        height: 100%;

    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .card-body h2 {
        padding: 10px;
        font-size: 20px;
    }
    
    .card-body p {
        padding: 5px;
        font-size: 10px;
    }

    .imagen-principal {
        width: 250px;
        height: 150px;
    }

    h2 {
        font-size: 20px;
    }

    footer {
        margin: 10px 0;
    }
    
    footer ul li a {
        font-family: 'Bebas Neue', cursive;
        font-size: 5px;
    }
    
    .img-logo {
        width: 20px;
        height: 20px;
    }

}
