@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300;700&family=Roboto:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
nav ul li {
  padding: 10px;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  font-weight: bold;
}

/* FOOTER */
footer {
  background-image: url(../assets/footer.jpg);
  background-attachment: fixed;
  padding: 10px;
  text-align: center;
}
footer ul {
  list-style-type: none;
}
footer ul li {
  display: inline-flex;
}
footer ul li a {
  padding: 10px;
  text-align: center;
}

.img-logo {
  width: 40px;
  height: 40px;
}

/* INICIO */
body {
  background-color: #242424;
}
body h1 {
  color: rgba(255, 255, 255, 0.9333333333);
  background-color: rgb(196, 42, 42);
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  text-align: center;
  padding: 20px;
}
body .carousel {
  margin: 40px;
}
body h2 {
  color: rgba(255, 255, 255, 0.9333333333);
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
body .container {
  display: flex;
  background-color: #242424;
}
body .container p {
  color: rgba(255, 255, 255, 0.9333333333);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-align: justify;
  padding: 20px;
}
body .lista-spotify {
  padding: 30px;
}

/* DISCOGRAFÍA */
.cards {
  text-align: center;
  background-color: #242424;
  padding: 15px;
}
.cards .card-body {
  display: inline-block;
  width: 30%;
  text-align: justify;
  margin: 15px;
  background-color: #242424;
}
.cards .card-body img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.cards .card-body h2 {
  padding-top: 20px;
}
.cards h3 {
  color: red;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}

/* PELÍCULA */
.pelicula {
  display: flex;
  background-color: #242424;
}
.pelicula p {
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.9333333333);
  font-size: 20px;
  text-align: justify;
  padding: 20px;
}

.peli img {
  width: 50%;
  height: 50%;
}
.peli p {
  font-family: "Roboto Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.9333333333);
  font-size: 20px;
  text-align: justify;
  padding: 20px;
}

/* GALERÍA */
.grilla {
  display: grid;
  margin: 10px;
  gap: 10px;
  background-color: #242424;
  grid-template-columns: repeat(7, 2fr);
  grid-template-rows: repeat(4, 280px);
  grid-template-areas: "area1 area2 area2 area3 area4 area4 area5" "area6 area6 area7 area7 area8 area9 area9" "area10 area10 area11 area11 area12 area13 area13" "area14 area14 area15 area15 area16 area16 area17";
}
.grilla .caja {
  width: 100%;
  height: 100%;
  display: flex;
}
.grilla .caja img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grilla .c1 {
  grid-area: area1;
}
.grilla .c2 {
  grid-area: area2;
}
.grilla .c3 {
  grid-area: area3;
}
.grilla .c4 {
  grid-area: area4;
}
.grilla .c5 {
  grid-area: area5;
}
.grilla .c6 {
  grid-area: area6;
}
.grilla .c7 {
  grid-area: area7;
}
.grilla .c8 {
  grid-area: area8;
}
.grilla .c9 {
  grid-area: area9;
}
.grilla .c10 {
  grid-area: area10;
}
.grilla .c11 {
  grid-area: area11;
}
.grilla .c12 {
  grid-area: area12;
}
.grilla .c13 {
  grid-area: area13;
}
.grilla .c14 {
  grid-area: area14;
}
.grilla .c15 {
  grid-area: area15;
}
.grilla .c16 {
  grid-area: area16;
}
.grilla .c17 {
  grid-area: area17;
}

/* CONTACTO */
h4 {
  color: rgba(255, 255, 255, 0.9333333333);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

form {
  margin: 20px;
  color: rgb(115, 105, 105);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
}
form div {
  padding: 10px;
}

/* MEDIA QUERIES */
@media (max-width: 480px) {
  h1 {
    font-size: 20px;
    padding: 8px;
    margin-bottom: 10x;
  }
  .container {
    flex-direction: column;
  }
  .container div p {
    font-size: 10px;
  }
  .container p {
    padding: 10px;
  }
  .intro {
    flex-direction: column;
    margin: 10px;
  }
  .intro div p {
    font-size: 10px;
  }
  .intro p {
    padding: 15px;
  }
  .intro img {
    width: 100%;
    height: 100%;
  }
  .lista-spotify {
    padding: 20px;
  }
  .grilla {
    gap: 5px;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(9, 400px);
    grid-template-areas: "area5" "area2" "area3" "area4" "area1" "area6" "area7" "area8" "area9";
  }
  .card-body img {
    width: 100%;
    height: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .card-body h2 {
    padding: 10px;
    font-size: 20px;
  }
  .card-body p {
    padding: 5px;
    font-size: 10px;
  }
  .imagen-principal {
    width: 250px;
    height: 150px;
  }
  h2 {
    font-size: 20px;
  }
  footer {
    margin: 10px 0;
  }
  footer ul li a {
    font-family: "Bebas Neue", cursive;
    font-size: 5px;
  }
  .img-logo {
    width: 20px;
    height: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
