/* GALERÃA */

.grilla {
    display: grid;
    margin: 10px;
    gap: 10px;
    background-color: $background-color;
    grid-template-columns: repeat(7, 2fr);
    grid-template-rows: repeat(4, 280px);
    grid-template-areas:
      'area1 area2 area2 area3 area4 area4 area5'
      'area6 area6 area7 area7 area8 area9 area9'
      'area10 area10 area11 area11 area12 area13 area13'
      'area14 area14 area15 area15 area16 area16 area17';
  
    .caja {
        width: 100%;
        height: 100%;
        display: flex;
  
        img {
            @include imagen (100%, 100%, cover);
        }
    }
  
    .c1 {
        grid-area: area1;
    }
  
    .c2 {
        grid-area: area2;
    }
  
    .c3 {
        grid-area: area3;
    }
  
    .c4 {
        grid-area: area4;
    }
  
    .c5 {
        grid-area: area5;
    }
  
    .c6 {
        grid-area: area6;
    }
  
    .c7 {
        grid-area: area7;
    }
  
    .c8 {
        grid-area: area8;
    }
  
    .c9 {
        grid-area: area9;
    }
  
    .c10 {
        grid-area: area10;
    }
  
    .c11 {
        grid-area: area11;
    }
  
    .c12 {
        grid-area: area12;
    }
  
    .c13 {
        grid-area: area13;
    }
  
    .c14 {
        grid-area: area14;
    }
  
    .c15 {
        grid-area: area15;
    }
  
    .c16 {
        grid-area: area16;
    }
  
    .c17 {
        grid-area: area17;
    }
  }