/* MEDIA QUERIES */

@media (max-width: 480px) {

    h1 {
        font-size: 20px;
        padding: 8px;
        margin-bottom: 10x;
    }

    .container {
        flex-direction: column;
    }
    
    .container div p {
        font-size: 10px;
    }
    
    .container p {
        padding: 10px;
    }

    .intro {
        flex-direction: column;
        margin: 10px;
    }
    
    .intro div p {
        font-size: 10px;
    }
    
    .intro p {
        padding: 15px;
    }
    
    .intro img {
        width: 100%;
        height: 100%;
    }

    .lista-spotify {
        padding: 20px;
    }

    .grilla {
        gap: 5px;
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: repeat(9, 400px);
        grid-template-areas:
        'area5'
        'area2'
        'area3'
        'area4'
        'area1'
        'area6'
        'area7'
        'area8'
        'area9'

    }
     
    .card-body img {
        width: 100%;
        height: 100%;

    }
    
    .card-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .card-body h2 {
        padding: 10px;
        font-size: 20px;
    }
    
    .card-body p {
        padding: 5px;
        font-size: 10px;
    }

    .imagen-principal {
        width: 250px;
        height: 150px;
    }

    h2 {
        font-size: 20px;
    }

    footer {
        margin: 10px 0;
    }
    
    footer ul li a {
        font-family: $title-font;
        font-size: 5px;
    }
    
    .img-logo {
        width: 20px;
        height: 20px;
    }

}